.section-title{
    color: #283747;
    font-size: 50px;
}
.heading{
    color: #283747;
    font-size: 28px;
}
.keyword{
    color: #283747;
    font-size: 20px;
}
.normal{
    color: #5D6D7E;
    font-size: 20px;
}